body {
  padding: 0 0;
}
.logo-utama {
  width: 50px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

#menu-utama {
  margin: 0;
  padding: 0;
  display: flex;
}

#menu-utama li {
  margin: 0 15px;
}

#menu-utama a {
  text-decoration: none;
  color: black;
}
#menu-utama a:hover {
  text-decoration: underline;
  color: blue;
}
.hero {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profil h2 {
  text-align: center;
}
.profil {
  text-align: justify;
  padding: 20px;
}
.Hobi {
  padding: 20px;
  margin:30px 50px;
}
#j-hobi {
  text-align: center;
}
#hobi {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

#hobi div {
  border: 1px solid black;
  background-color: wheat;
  width: 200px;
  height: 200px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#hobi div p{
  text-align: justify;
  margin: 0 0 0 0;
}
#hobi div:hover {
  transform:translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}