body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
}
.main {
  display: block;
  border: 2px solid blue;
  border-radius: 30px;
  margin: 30px;
  max-width: 350px;
  max-height: 500px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  div.svg {
    border-radius: 28px 28px 0px 0px;
    padding-top: 30px;
  }
  p {
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
    margin: 15px 0px 20px 0px;
  }
  p::first-line{
    color: rgb(255, 0, 0);
  }
  h2 {
    font-weight: 500;
    font-size: 20px;
    margin: 0px 0px 15px 0px;
  }
  h1 {
    font-weight: 800;
    font-size: 30px;
    margin: 15px 0px 0px 0px;
  }
  div.dll {
    padding: 0px 30px 30px 30px;
    button {
      border: none;
      background-color: blue;
      color: white;
      font-size: 16px;
      padding: 15px;
      border-radius: 10px;
      transition: all 0.3s;
      margin-top: 10px;
    }
    button:hover {
      background-color: white;
      color: black;
      border: 1px solid blue;
    }
  }
}
.main:hover {
  transform: translate(0px, -20px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}