h1,
h2,
h3 {
  color: crimson;
  font-family: sans-serif;
  text-align: center;
}
#title-biografi {
  background-color: aqua;
}
.bg-color {
  background-color: azure;
}

p {
  color: rgb(41, 35, 27);
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  color: blue;
  text-align: center;
}
body {
  background: #22c1c3;
  background: linear-gradient(
  90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  height: fit-content;
  background-image: url("./Assets/gunung-bromo.jpg");
  height: 100vh;
  background-size: 100vh;
  background-position: center;
  padding: 0px;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
header{
  margin-top:0px;
  padding-top: 0px;
}