h1,
h2,
h3 {
  color: crimson;
  font-family: sans-serif;
}
#title-biografi {
  background-color: aqua;
}
.bg-color{
    background-color: azure;
}

p {
  color: rgb(41, 35, 27);
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  color: blueviolet;
}
body{
  background: linear-gradient(90deg, rgba(34,193,195,1)100%,rgba(34,193,195,100)0% );
}