* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}
body {
  background-color: #f5f5f5;
}
main section.cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 50px;
  justify-content: center;
  margin: 100px;
}
div.cards {
  padding: 15px;
  box-shadow: -2px 4px 12px rgba(0, 0, 0, 0.1);
  img {
    max-width: 500px;
  }
  div {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 30px 0px;
    align-items: center;
    h2 {
      font-size: 20px;
      font-weight: 600;
      margin-right: 10px;
    }
  }
  h3 {
    font-size: 20px;
    color: #00000050;
    font-weight: 400;
    margin-bottom: 10px;
  }
}
/* HP & tablet */
@media screen and (max-width: 1024px) {
  main section.cards {
    padding: 0px;
    margin: 0px;
    justify-items: center;
    flex-wrap: wrap;
    div {
      img {
        width: 300px;
      }
      div {
        h2 {
          font-size: 17px;
        }
      }
      h3 {
        font-size: 13px;
        margin-bottom: 5px;
      }
    }
  }
}