.font-sans-serif {
  font-family: Arial, sans-serif;
}
.font-serif {
  font-family: Georgia, serif;
}
.font-monospace {
  font-family: 'Courier New', monospace;
}
.font-cursive {
  font-family: 'Brush Script MT', cursive;
}
.font-fantsy {
  font-family: 'Comic Sans MS', fantasy;
}
