.A{
    background-color: rgba(0, 0, 0, 0.774);
    padding:100px;
}
.B{
    background-color: rgba(208, 208, 208, 0.5);
    padding:100px;
}
.C{
    background-color: rgba(19, 27, 24, 0.5);
    padding: 100px;
}